{% extends 'base.html' %}
{% block content %}
    <div class="container">
    {% for item in cart %}
        <h1>{{  item.product.name }}</h1>
        <p>Цена: {{ item.product.price }} $</p>
        <p>Количество: {{ item.qty }}</p>
        <p>Сумма:  {{ total }}</p>
        <a href="{% url 'product_in_cart-delete' item.pk %}" class="btn btn-info text-white rounded-0">Удалить с корзины</a>
        <hr>
    {% endfor %}
        <form action="{% url 'order-create' %}" method="post">
            {% csrf_token %}

            {% for error in form_order.non_field_errors %}
               <p class="text-danger">{{ error }}</p>
            {% endfor %}

            {% for field in form %}
                <br>
                <p><label for="{{ field.id_for_label }}">{{ field.label }}</label></p>
                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
                {{ field }}
                <br>
            {% endfor %}
            <br>
            <input class="btn btn-info text-white rounded-0" type="submit" value='Оформить заказ' />
        </form>
    </div>
{% endblock %}